{% extends 'dashboard/index.html' %}
{% block pageContent %}
    {% if poliza_list%}
        <h2 class="mt-3">Registro De Poliza</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/">Trust</a></li>
            <li class="breadcrumb-item active">Poliza</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema <strong>Trust</strong>
                <div class=" py-3">
                    <a href="{% url 'policy:poliza_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registro De Poliza
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th scope="col">Poliza ID</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Poliza ID</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for poliza in poliza_list %}
                        <tr>
                            <td>{{ poliza.id }}</td>
                            <td>{{ poliza.cliente }}</td>
                            <td>{{ poliza.fechaInicio }}</td>
                            <td>{{ poliza.fechaFin }}</td>
                            <td>
                                <a href="{% url 'policy:poliza_update' poliza.id %}"
                                   class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'policy:poliza_delete' poliza.id %}"
                                   class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#"
                                   class="btn btn-primary btn-circle btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4">Registro De Poliza</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/">Trust</a></li>
            <li class="breadcrumb-item active">Poliza</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema <strong>Trust</strong>
                <div class=" py-3">
                    <a href="{% url 'policy:poliza_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



